$menu-bgcolor: #e74c3c;
$footer-bgcolor: #c0392b;
@mixin margenes($top,$bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}
.jumbotron{
	background-color: #e74c3c;
	color:white;

	position: relative; 
    height: 100vh;
    width: 100%;
    @include margenes(50px,0px);
    align-items: center;
    justify-content: center;
    
}
.jumbotron::before {
   content: "";
      background-image: url('/img/banner.jpeg');
      background-size: cover;
      position: absolute;
      top: -350px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}
.jumbotron h1 {
	margin-top: 180px;
  position: relative;
  color: #ffffff;  
  display: flex;
  @include margenes(180px,0px);
  text-align: center;
}
.jumbotron p {
   position: relative;
  color: #ffffff;  
  
  
  
}
.navbar{
	background-color: $menu-bgcolor;
}
.pagination{
	@include margenes(50px,0px);
}
footer{
	background-color: $footer-bgcolor;
	padding: 30px;
	@include margenes(40px,0px);
	color:white;
}
footer a{
	color:white;
}
.card-hotel{
	flex:1 300px;
	padding: 10px;
	@include margenes(10px,0px);

}
.btn-reserva{
	width: 100%;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-item:before {
  content:'';
  position: absolute;
        top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}
.me-auto {
    margin-right: 2rem!important;
}
.me-2 {
    margin-right: .5rem!important;
    @include margenes(5px,0px);

}
.logreg {
    margin-right: auto!important;
}